*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'PT Mono', monospace;
    text-align: center;
}

#inpt{
    padding: 5px;
    border: none;
    border-radius: 10px;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
#inpt:focus{
    outline:none;
}

#check, #relod{
    background-color: rgb(0, 0, 0,0);
    border-color: rgb(0, 0, 0,0);
    font-size: 1rem;
    margin: 1rem;
}

#inpt{
    padding-left: 10px;
    font-family: 'PT Mono', monospace;

}

#check, #relod{
    cursor: pointer;
}
#title{
    margin-bottom: 3rem;
}

#title h2{
    font-size: 2rem;
    display: inline-block;
}

#remain{
    margin: 1rem;
}

#seeAnswer{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width: 505px) {
    #title h2{
        display:block;
    }
}